#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <100>;
    };

    tdLeft: tdLeft {
        compatible = "zmk,behavior-tap-dance";
        label = "TDLEFT";
        #binding-cells = <0>;
        bindings = <&kp LEFT>, <&kp HOME>;
    };

    sk_long: sk_long {
        compatible = "zmk,behavior-sticky-key";
        label = "SK_LONG";
        bindings = <&kp>;
        #binding-cells = <1>;
        release-after-ms = <1000>;
        quick-release;
    };

    numpadTD: numpadTD {
        compatible = "zmk,behavior-tap-dance";
        label = "NUMPADTD";
        #binding-cells = <0>;
        bindings = <&mo 3>, <&mo 4>;
    };

    Alt_Win: Alt_Win {
        compatible = "zmk,behavior-tap-dance";
        label = "ALT_WIN";
        #binding-cells = <0>;
        bindings = <&kp LEFT_ALT>, <&kp LEFT_WIN>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };

        caps {
            bindings = <&kp CAPS>;
            key-positions = <34 35>;
            layers = <0 1>;
        };

        CTRL_combo {
            bindings = <&kp LEFT_CONTROL>;
            key-positions = <47 48>;
        };

        tog1 {
            bindings = <&tog_layer1_rgb>;
            key-positions = <29 30 55>;
        };

        DelCombo {
            bindings = <&kp DELETE>;
            key-positions = <27 26>;
        };
    };

    macros {
        TGwithRAlt: SHIFT_MCLK {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&tog 1>, <&macro_tap>, <&kp RIGHT_ALT>;

            label = "SHIFT_MCLK";
        };

        ctrltg: ctrltg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&tog 1>,
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&tog 1>;

            label = "CTRLTG";
        };

        // New macro to enter Layer 1 with LED indicator

        layer1_on: layer1_on {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&tog 1 &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(120,0,38)>;

            // Sets a Green color (120) when Layer 1 is turned on
        };

        // New macro to exit Layer 1 and turn LED off

        layer1_off: layer1_off {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&tog 1 &rgb_ug RGB_OFF>;
        };

        tog_layer1_rgb: tog_layer1_rgb {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;

            // This macro toggles layer 1 AND toggles the RGB underglow

            bindings =
                <&macro_tap>,
                <&tog 1 &rgb_ug RGB_COLOR_HSB(0,0,36) &rgb_ug RGB_TOG>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&kp ESC        &kp N1   &kp N2    &kp N3     &kp N4     &kp N5       &kp UP_ARROW     &kp N6     &kp N7                &kp N8     &kp N9       &kp N0             &kp BACKSPACE
&kp TAB        &kp Q    &kp W     &kp F      &kp P      &kp B        &kp DOWN_ARROW   &kp J      &kp L                 &kp U      &kp Y        &kp SEMICOLON      &kp BSLH
&kp BACKSPACE  &kp A    &kp R     &kp S      &kp T      &kp G        &kp LEFT_ARROW   &kp M      &kp N                 &kp E      &kp I        &kp O              &kp ENTER
&kp LSHFT      &kp X    &kp C     &kp D      &kp V      &kp Z        &kp RIGHT_ARROW  &kp K      &kp H                 &kp COMMA  &kp PERIOD   &kp SLASH          &kp RIGHT_SHIFT
&tog 1         &ctrltg  &Alt_Win  &kp SPACE  &numpadTD  &kp ENTER    &kp B            &kp SPACE  &sk_long RIGHT_SHIFT  &mo 2      &TGwithRAlt  &kp RIGHT_CONTROL
            >;

            sensor-bindings = <&scroll_encoder>;
            display-name = "LAYER0";
        };

        layer_1 {
            bindings = <
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5    &mmv MOVE_UP     &kp NUMBER_6  &kp N7  &kp N8     &kp N9      &kp N0         &trans
&trans  &kp Q         &kp W         &kp E         &kp R         &kp T     &mmv MOVE_DOWN   &kp Y         &kp U   &kp I      &kp O       &kp P          &trans
&trans  &kp A         &kp S         &kp D         &kp F         &kp G     &mmv MOVE_LEFT   &kp H         &kp J   &kp K      &kp L       &kp SEMICOLON  &trans
&trans  &kp Z         &kp X         &kp C         &kp V         &kp B     &mmv MOVE_RIGHT  &kp N         &kp M   &kp COMMA  &kp PERIOD  &kp SLASH      &trans
&tog 1  &kp LCTRL     &trans        &trans        &trans        &trans    &kp B            &trans        &trans  &trans     &trans      &trans
            >;

            display-name = "layer1";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_2 {
            bindings = <
&trans  &kp F1         &kp F2            &kp F3           &kp F4        &kp F5       &trans  &kp F6          &kp F7                &kp F8                 &kp F9            &kp F10            &trans
&trans  &kp PERCENT    &kp PLUS          &kp MINUS        &kp ASTERISK  &kp SLASH    &trans  &kp AMPERSAND   &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&trans  &kp LESS_THAN  &kp GREATER_THAN  &kp EXCLAMATION  &kp EQUAL     &kp PIPE     &trans  &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SINGLE_QUOTE  &trans             &trans
&trans  &trans         &trans            &trans           &kp AT_SIGN   &trans       &trans  &trans          &kp HASH              &trans                 &trans            &trans             &trans
&trans  &trans         &trans            &trans           &trans        &trans       &trans  &trans          &trans                &trans                 &trans            &trans
            >;

            display-name = "layer2";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_4 {
            bindings = <
&kp LC(F12)  &trans     &trans     &trans     &trans     &kp PRINTSCREEN    &trans  &trans  &trans        &trans         &trans        &trans     &trans
&trans       &trans     &trans     &trans     &trans     &trans             &trans  &trans  &kp LC(LEFT)  &kp LC(RIGHT)  &trans        &trans     &trans
&trans       &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &trans             &trans  &trans  &kp LEFT      &kp DOWN       &kp UP_ARROW  &kp RIGHT  &trans
&trans       &trans     &trans     &trans     &trans     &trans             &trans  &trans  &trans        &trans         &trans        &trans     &trans
&trans       &trans     &trans     &trans     &trans     &trans             &trans  &trans  &trans        &trans         &trans        &trans
            >;

            display-name = "layer4";
            sensor-bindings = <&scroll_encoder>;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp N0  &trans  &trans
            >;
        };
    };
};
